.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.header {
    width: 45%;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-left {
    height: 80px;
    width: 50px;
    display: block;
    position: relative;
  }
  .header-left .line-1 {
    display: block;
    width: 5px;
    height: 30px;
    background-color: #000;
    position: absolute;
    top: -12%;
    transform: rotate(0.15turn);
  }
  .header-left .line-2 {
    display: block;
    width: 5px;
    height: 30px;
    background-color: #000;
    position: absolute;
    top: 7%;
    transform: rotate(-0.15turn);
  }
  .header-right {
    height: 80px;
    width: 50px;
    display: flex;
    align-items: center;
  }
  .header-right img {
    width: 32px;
    height: 32px;
  }