.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.inputField {
    width: 25%;
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 0;
}
.inputField .title {
    width: 100%;
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    font-weight: bolder;
}
.inputField .helper {
    width: 100%;
    display: flex;
    margin: 5px;
    justify-content: flex-start;
    color: red;
}
.inputField input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
}